.header {
    padding: 60px 0 70px 0;
}

.header__inner {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.header-navigation {
    margin-right: 40px;
    display: flex;
    align-items: center;
}

.header-navigation__list {
    display: flex;
    gap: 40px;
}

.header-mobile {
    width: 100%;
    display: block;
    position: fixed;
    left: 0;
    bottom: 0;
    top: 100%;
    z-index: 2;
    background-color: white;
    overflow: auto;
    padding: 40px;
    transition: top 0.5s;

}

.header-mobile.active {
    display: block;
    top: 170px;
}

.header-btn__mobile {
    margin: auto;

}

.header-mobile__inner a {
    margin-bottom: 20px;

}

.header-mobile__inner img {
    max-width: 220px;
}

.header-mobile__inner {}

.header-mobile-navigation__list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 50px;

}

.header-mobile-navigation__list a {
    font-size: 25px;
}

.header-mobile-navigation {
    justify-content: center;
    margin-right: 0;
    margin-bottom: 40px;
}

.header-mobile__content {
    display: flex;
}

.header-btn__mobile {
    display: block;
}

.header__content {
    display: flex;
}

.header-navigation__link {
    color: black;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    padding-bottom: 2px;
    border-bottom: 1px solid transparent;
    transition: border-color .3s;
}

.header-navigation__link:hover {
    border-color: black;
}

.header-btn {
    display: flex;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    border: 1px solid;
    border-radius: 14px;
    padding: 20px 35px;
    height: 68px;
    background-color: white;
    transition: 0.3s;
}

.header-btn:hover {
    background-color: var(--green);
    cursor: pointer;
}

.header-burger {
    display: none;
    position: relative;
    z-index: 2;
    align-items: center;
    justify-content: flex-end;
    width: 40px;
    height: 18px;
    border: 0;
    /* padding: 0;
    border: 0;
    display: none; */
}

.header-burger span {
    height: 2px;
    width: 100%;
    transform: scale(1);
    background-color: var(--dark);
}

.header-burger::before,
.header-burger::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 28px;
    background-color: var(--dark);
    transition: all 0.3s ease 0s;
}

.header-burger::before {
    top: 0;
}

.header-burger::after {
    bottom: 0;
}

.header-burger.active span {
    transform: scale(0);
}

.header-burger.active::before {
    top: 50%;
    transform: translateY(-50%);
    transform: rotate(45deg);
}

.header-burger.active::after {
    top: 50%;
    transform: translateY(-50%);
    transform: rotate(-45deg);
}


@media (max-width: 1240px) {

    .header-navigation__link {

        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
    }

    .header-btn {
        display: flex;
        font-size: 18px;
        line-height: 24px;
        text-align: center;
        padding: 16px 32px;
        height: 64px;
        align-items: center;
    }
}

@media (max-width: 1030px) {
    .header__content {
        display: none;
    }

    .header-btn__mobile {
        display: block;
    }

    .header-mobile__content {
        display: block;
    }

    .header-burger {
        display: flex;
    }

    .header-burger.acitve .header-mobile__inner.active {
        display: flex;
    }
}

@media (max-width: 822px) {}

@media (max-width: 598px) {
    .header-burger img {
        max-width: 30px;
    }

    .header-btn>button {}
}

@media (max-width: 406px) {}