.process {
    margin-bottom: 140px;
}

.process-header__description {
    max-width: 292px;
}

.process-cards {}

.process-card {
}

.process-card.active {
    background-color: var(--green);
    border-radius: 45px;
    border: 1px solid var(--dark);

}

.process-card.active > .process-card__title {
    background: var(--green);
    border: none;
}

.process-card__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--dark);
    border-radius: 45px;
    position: relative;
    background-color: white;
    cursor: pointer;
    padding: 41px 60px;
}   

.process-card__title::after {
    position: absolute;
    top: 4px;
    left: -1px;
    z-index: -1;
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 45px;
    border: 1px solid var(--dark);
}

.process-card.active .process-card__title::before {
    

}

.process-card-content {
    grid-template-rows: 0fr;
    overflow: hidden;
}

.process-card-content__text {
    font-size: 18px;
    min-height: 0;
    padding: 31px 60px 41px;
}

/* .process-card__content {
    font-size: 18px;
    font-weight: 400;
    padding: 41px 60px;
    overflow: hidden;
    opacity: 0 ;
    visibility: hidden;
    transition: max-height 0.5s ease-out, padding 0.5s ease-out, opacity 0.1s ease-out 0.5s, visibility 0.1s ease-out 0.5s;
    
}

.process-card__content.active {
    visibility: visible;
    opacity: 1;
    padding: 20px;
    transition: max-height 0.5s ease-out, padding 0.5s ease-out, opacity 0.1s ease-out, visibility 0.1s ease-out;
} */
 
.process-card-text {
    display: flex;
    align-items: center;
}

.process-card-text__number {
    margin-right: 25px;
    font-size: 60px;
    font-weight: 500;
}

.process-card-text__title {
    font-size: 30px;
    font-weight: 500;
}

.process-card-animation {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 58px;
    height: 58px;
    border-radius: 100%;
    border: 1px solid var(--dark);
    background-color: var(--grey);
}

.process-card-animation>svg {
    width: 26px;
    height: 26px;
}


@media (max-width: 1240px) {}

@media (max-width: 1030px) {}

@media (max-width: 950px) {
    .process-card-text__number {
        font-size: 30px;
    }

    .process-card-text__title {
        font-size: 18px;
    }

    .process-card-animation__icon svg {
        width: 14px;
        height: 14px;
    }

    .process-card-animation__icon {
        width: 30px;
        height: 30px;
    }

}


@media (max-width: 822px) {}

@media (max-width: 598px) {}

@media (max-width: 406px) {}