.services {
    margin-bottom: 140px;
}

.services-header__description {}

.services-header {

    margin-bottom: 80px;
}



.services__cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    margin-bottom: 125px;
}

.services-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--dark);
    box-shadow: 0 5px 0 0 black;
    border-radius: 50px;
    padding: 50px;
}

.services-card_green {
    border: var(--green);
}


.services-card__title {
    display: flex;
    flex-direction: column;
    margin-bottom: 92px;
}

.services-card-link__icon svg {}

.services-card-link__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background-color: var(--dark);
    width: 40px;
    height: 40px;
    margin-right: 15px;
    transition: transform 0.3s;
    will-change: transform;
}

.services-card-link {
    display: flex;
    align-items: center;
}

.services-card-link__description {
    font-size: 20px;
    line-height: 140%;
    color: black;
}

.services-card-link-img {}

.services-card:hover .services-card-link__icon {
    transform: rotate(30deg);
}


.services-card__title>span {
    font-size: 30px;
    color: black;
    border-radius: 7px;
    padding: 0px 7px;
    background-color: var(--green);
    line-height: 1.30;
}

.services-card_green .services-card__title>span {
    background-color: white;
}

.services-card_green {
    background-color: var(--green);
}

.services-card_black {
    background-color: var(--dark);
}

.services-card_black .services-card__title>span {
    background-color: white;
}

.services-card_black .services-card__title>span {
    background-color: white;
}

.services-card_black .services-card-link__icon {
    background-color: white;

}

.services-card_black .services-card-link__description {
    color: white;
}

.services-card_black .services-card__title_green>span {
    background-color: var(--green);
}

.services-promo {
    background-color: var(--grey);
    border-radius: 14px;
    position: relative;
    padding: 60px;
}

.services-promo__wrapper {
    max-width: 500px;
    max-height: 227px;
}

.services-promo__title {
    font-weight: 500;
    font-size: 30px;
    color: black;
    margin-bottom: 26px;
}

.services-promo__description {
    font-size: 18px;
    margin-bottom: 26px;
}

.services-promo__img {
    position: absolute;
    top: -7%;
    right: 10%;
}

.services-card-link-img__mobile {
    display: none;
}


@media (max-width: 1240px) {
    .services-header {
        display: flex;
        justify-content: center;
    }

    .services__cards {
        grid-column-gap: 20px;
        grid-row-gap: 20px;
    }

    .services-card {
        padding: 40px;
    }

    .services-card__title>span {
        font-size: 20px;
    }

    .services-card-link__description {
        font-size: 16px;
    }

    .services-card-link__icon {
        width: 30px;
        height: 30px;
    }

    .services-card-link__icon svg {
        width: 16px;
        height: 16px;
    }

    .services-card-link-img img {
        max-width: 200px;
    }

}

@media (max-width: 1030px) {

    .services {
        margin-bottom: 60px;
    }

    .services__cards {
        grid-template-columns: 1fr;
        margin-bottom: 70px;
    }

    .services-promo {
        padding: 0px;
    }

    .services-promo__wrapper {
        display: flex;
        max-width: 100%;
        max-height: 100%;
        padding: 50px;
        flex-direction: column;
    }

    .services-promo__img {
        display: none;
    }

    .services-card__title span {

        font-size: 45px;
    }

    .services-card-link__icon {
        width: 50px;
        height: 50px;
    }

    .services-card-link__icon svg {
        width: 30px;
        height: 30px;
    }

    .services-card-link__description {
        font-size: 25px;
    }

    .services-card-link {
        display: flex;
        align-items: center;
    }

    .services-card-link-img img {
        max-width: 300px;
    }

}


@media (max-width: 822px) {

    .services-header {
        flex-direction: column;
        margin-bottom: 40px;
    }

    .services-header__title {
        margin-bottom: 30px;

    }

    .services-card__title {
        margin-bottom: 20px;

    }

    .services-card-link__description {
        display: none;

    }

    .services-card-link-img {
        display: none;
    }

    .services-card-link-img__mobile {
        display: block;
    }

    .services-card-link {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        width: 100%;
    }

    

    .services-card__content {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}

@media (max-width: 598px) {
    .services-promo__title {
        font-weight: 500;
        font-size: 26px;
        color: black;
        margin-bottom: 26px;
    }

    .services-promo__description {
        font-size: 14px;
        margin-bottom: 26px;
    }

    .services-card__title span {
        font-size: 26px;
    }

    .services-card-link__icon {
        width: 41px;
        height: 41px;
    }

    .services-card-link__icon svg {
        width: 20px;
        height: 20px;
    }

    .services-card-link-img__mobile img {
        max-width: 165px;
    }
}

@media (max-width: 406px) {}