.testimonials {
    margin-bottom: 140px;
}

.testimonials-slider {
    background-color: var(--dark);
    padding: 68px 0 84px;
    border-radius: 45px;
    ;
    overflow: hidden;
}

.testimonials-slider__inner {}

.testimonials-slider__content {
    margin-bottom: 138px;
    max-width: 50%;
}

.testimonials-slider__description {
    position: relative;
    color: white;
    font-size: 18px;
    margin-bottom: 48px;
    padding: 48px 52px 52px;
    border: 1px solid var(--green);
    border-radius: 45px;
}

.testimonials-slider__description::before {
    content: '';
    rotate: 45deg;
    position: absolute;
    left: 47px;
    bottom: 0px;
    transform: translateX(74%);
    background-color: var(--dark);
    border-bottom: 1px solid var(--green);
    border-right: 1px solid var(--green);
    width: 32px;
    height: 32px;
}

.testimonials-slider-navigation__pagination .swiper-pagination-bullet {
    width: 14px;
    height: 14px;
    opacity: 1;
    background-color: transparent;
}

.testimonials-slider-navigation__pagination span:not(:last-child) {
    margin-right: 19px !important;
}

.testimonials-slider-navigation__pagination .swiper-pagination-bullet-active {
    background-color: transparent;
}

.testimonials-slider-navigation__pagination .swiper-pagination-bullet-active path {
    fill: var(--green);
}



.testimonials-slider-person {
    display: flex;
    flex-direction: column;
    padding-left: 80px;
}



.testimonials-slider-person__name {
    color: var(--green);
    font-size: 20px;
}

.testimonials-slider-person__status {
    color: white;
    font-size: 20px;
}

.testimonials-slider-navigation-btn {
    border: 0;
    padding: 0;
    background-color: transparent;
    text-decoration: none;
}

.testimonials-slider-navigation-btn:disabled {
    background-color: transparent;
}

.testimonials-slider-navigation-btn svg {
    background-color: var(--dark);
}

.testimonials-swiper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.testimonials-slider-navigation {
    display: flex;
    max-width: 50%;
    margin: auto;
}

.testimonials-slider-navigation__pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}


@media (max-width: 1240px) {}

@media (max-width: 1030px) {
    .testimonials {
        margin-bottom: 60px;
    }
}

@media (max-width: 950px) {}

@media (max-width: 822px) {
    .testimonials-slider__description {
        padding: 30px;
        font-size: 16px;
    }

    .testimonials-slider-person__name {
        font-size: 18px;
    }

    .testimonials-slider-person__status {
        font-size: 16px;
    }

    .testimonials-slider__content {
        max-width: 80%;
        margin-bottom: 60px;
    }
}

@media (max-width: 598px) {
    .testimonials-slider-navigation {
        margin: 0 30px;
        max-width: 100%;
    }
}

@media (max-width: 406px) {}